@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

:root{
    --white: #fefefe;
    --black: #36383F;
    --gray-light: #dfdcd9;
    --gray-light-2: #f2f2f2;
    --gray: #ccc9c6;
    --gray-dark: rgb(106, 108, 110);

    --golden: #D4AF37;

    --coffee: #4a3a1b;
    --coffee-transparent: #4a3a1b5e;
    --aquamarine-light:#f0ffff;

    --grid-margin-horizontal: 5%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
}
body{
    background-color: var(--white);
    font-family: Hedvig_Letters_Serif,sans-serif;
    font-weight: 100;
    line-height: 2em;
    height: 100%;
    color: var(--gray-dark);
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
img{
    display: block;
}


/* header */ 
header{
    height: 100%;
}

.nav{
    display: grid;
    grid-template-columns: var(--grid-margin-horizontal) repeat(9, 1fr) var(--grid-margin-horizontal) ;
    grid-template-rows: auto;
    gap:10px;
    padding: 20px 0;
    width: 100%;
    background-color: var(--white);
    position: fixed;
    top: 0;
    z-index: 1;
}
.mobile-menu{
    display: block;
    grid-column: 2 / 6;
}
.mobile-menu *{
    font-size: 1.2rem;
}
.mobile-menu a{
    padding: 5px 10px;
    color: var(--black)
}
.mobile-menu a:hover{
    color: var(--golden)
}
.menu{
    display: none;
}
.logo{
    grid-column: 6 / 7;
    text-align: center;
    letter-spacing: -2px;
    color: var(--golden);
}
.mobile-tools{
    grid-column: 7 / 11;
    text-align: right;
    font-size: 1.2rem;
}
.mobile-tools a{
    padding: 5px 10px;
    color: var(--black)
}
.mobile-tools a:hover{
    color: var(--golden)
}
.tools{
    display: none;
}
.mobile-menu-open{
    display: none;
    grid-column: 1 / -1;
    align-self: center;
    justify-self: center;
    text-align: center;
    grid-row: 2;
    height: 100%;
    font-size: 1.3em;
}
.mobile-menu-open a{
    color: var(--gray-dark);
}
.mobile-menu-open a:hover{
    color: var(--golden);
}
.mobile-menu-open li{
    padding: 30px 0;
}

.banner{
    background-position: top;
    background-size: cover;
    background-image: url("../assets/images/golden-ring.jpg");
    min-height: 100%;

    display: grid;
    grid-template-columns: var(--grid-margin-horizontal) repeat(9, 1fr) var(--grid-margin-horizontal);
    gap:10px;
    grid-template-rows: 1fr 2fr 1fr;
    align-content: end;
}
.b-title{
    grid-column: 2 / 11;
    grid-row: 2;
    align-self: center;

    color: var(--white);
    text-align: center;
    font-size: 2rem;
    letter-spacing: 12px;
    text-transform: uppercase;
}
.b-cta{
    grid-column: 2 / 11;
    grid-row: 3;
    margin: 50px;
    font-size: 0.6rem;
    letter-spacing: 5px;
    color: var(--white);
    text-transform: uppercase;
    background-color: var(--black);
    border: none;
    border-radius: 6px ;
    cursor: pointer;
}
.b-cta:hover{
    background-color: var(--gray-dark);
}
.b-cta:active{
    background-color: var(--gray);
}

.s-title{
    font-size: 1rem;
    letter-spacing: 5px;
    margin: 0 0 20px;
}


/* section descuentos */
.s-descuentos{
    margin: 50px 0;
    display: grid;
    grid-template-columns: var(--grid-margin-horizontal) repeat(9, 1fr) var(--grid-margin-horizontal);
    grid-template-rows: 1fr 5fr;
    gap:10px;
}
.s-descuentos a{
    color: var(--black);
}
.s-descuentos a:hover{
    color: var(--golden);
}
.s-title{
    grid-column: 2 / 7;
    grid-row: 1;
}
.s-slider{
    overflow-x: hidden;
    grid-column: 1 / -1;
    grid-row: 2;
    display: grid;
    grid-template-columns: var(--grid-margin-horizontal) repeat(3, 1fr) var(--grid-margin-horizontal);
    gap:10px;
}
.slider-nav{
    visibility: hidden;
}
.s-slide-dots{
    display: block;
    grid-column: 7 / 11;
    grid-row: 1;
    text-align: right;
}
.s-slide-dots a{
    font-size: 1.3rem;
    letter-spacing: 5px;
}
.product{
    background-color: var(--gray-light-2);
    border-radius: 5px;
}
.product-img{
    max-width: 100%;
    padding: 10%;
}
.product-data{
    background-color: var(--white);
    margin: 5% 5%;
    border-radius: 10px;

    display: grid;
    grid-template-areas: 
        'title'
        'price'
        'tools'
    ;
    align-items: center;  
}
.product-title{
    grid-area: title;
    justify-self: start;
    align-self: self-end;
    margin: 0 0 0 6%;
    
    font-size: 0.5rem;
    text-transform: uppercase;
    line-height: 2;
}
.product-price{
    grid-area: price;
    justify-self: start;
    margin: 0 0 0 6%;

    color: var(--black);
    font-size: 1rem;
    letter-spacing: -1px;
    line-height: 2;
}
.price-before{
    color: var(--gray-dark);
    font-size: 0.7rem;
    margin: 0;
    text-decoration: line-through;
    display: block;
}
.product-tools{
    grid-area: tools;
    justify-self: center;
    margin: 0;
    letter-spacing: 3px;
}


/* section colecciones */
.s-collections{
    margin: 50px 0;
    display: grid;
    grid-template-columns: var(--grid-margin-horizontal) repeat(9, 1fr) var(--grid-margin-horizontal);
    gap:10px;
}
.collections{
    grid-column: 2 / 11;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
}

.collection{
    position: relative;
}
.collection-img{
    max-width: 100%;
}
.collection-img-hover{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    background-color: var(--black);
    opacity: 60%;
    cursor: pointer;
}
.collection-img-hover:hover{
    opacity: 0%;
    transition: .3s ease;
}
.collection-desc{
    position: absolute;
    top:5px;
    left:10px;
    font-size: 0.45rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--white);
}


/* footer */
.s-footer{
    display: grid;
    grid-template-columns: var(--grid-margin-horizontal) repeat(9, 1fr) var(--grid-margin-horizontal);
    gap:10px;
    background-color: var(--gray-light-2);
    font-size: 0.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.f-container{
    margin: 50px 0 20px;
    grid-column: 2 / 11;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    'f-links f-instagram'
    'f-links-2 f-contact';
    align-items: center;
}
.f-container h4{
    font-size: 0.7rem;
    letter-spacing: 3px;
}
.f-container i{
    font-size: 1.2rem;
    letter-spacing: 3px;
}
.f-container a{
    color: var(--black);
}
.f-container a:hover{
    color: var(--golden);
}
.f-links{
    grid-area: f-links;
}
.f-instagram{
    grid-area: f-instagram;
    margin: 0 0 0 10px;
}
.f-instagram img{
    display: inline-block;
    width: 25%;
    border-radius: 10%;
}
.f-contact{
    grid-area: f-contact;
    justify-self: center;
}
.f-links-2{
    margin: 20px 0 0;
    grid-area: f-links-2;
    justify-self: start;
}
.f-links-2 a{
    color: var(--gray);
}
.f-links-menu{
    display: grid;
    grid-template-columns: 1fr;
    column-gap:5px;
}
.f-links-menu span{
    display: none;
}
.f-links-2-menu > *{
    display: block;
    font-size: 0.7rem;
}

/* powered by */
.s-powered-by{
    background-color: #000;
    color: var(--white);
    display: inline-block;
    width: 100%;
    padding: 10px 0 30px;
    text-align: center;
}

.s-powered-by a{
    color: var(--golden);
    font-weight: 500;
}
.s-powered-by a:active,
.s-powered-by a:hover{
    color: var(--gray-light);
}

.txt-small{
    font-size: smaller;
}


@media (min-width: 768px) {
    
    /* header */
    :root{
        --grid-margin-horizontal: 10%;
    }
    .mobile-menu{
        display: none;
    }
    .menu{
        display: block;
        grid-column: 2 / 6;
        font-size: 12px;
        letter-spacing: 2px;
    }
    .menu *{
        display: inline-block;
        margin: 0 5px;
    }
    .menu a{
        color: var(--black)
    }
    .menu a:hover{
        color: var(--golden)
    }

    .mobile-tools{
        display: none;
    }
    .tools{
        display: block;
        grid-column: 7 / 11;
        text-align: right;
        letter-spacing: 5px;
    }
    .tools a{
        color: var(--black)
    }
    .tools a:hover{
        color: var(--golden)
    }

    .banner{
        grid-template-rows: 6fr 1fr 1fr;
        align-content: end;
    }
    .b-title{
        grid-column: 2 / 10;
        grid-row: 2;

        color: var(--white);
        text-align: left;
    }
    .b-cta{
        grid-column: 2 / 4;
        grid-row: 3;
        margin: 20px 0;
        font-size: 0.6rem;
        letter-spacing: 5px;
        color: var(--white);
        text-transform: uppercase;
        background-color: var(--black);
        border: none;
        border-radius: 6px ;
        cursor: pointer;
    }

    /* section descuentos */
    .s-descuentos{
        grid-template-rows: 1fr 7fr;
    }
    .slider-nav{
        visibility: visible;
        align-self: center;
        text-align: center;
        font-size: 2rem;
    }
    .product-data{
        grid-template-areas: 
            'title tools'
            'price tools'
        ;
    }
    .product-title{
        grid-area: title;
        justify-self: start;
        align-self: self-end;
        margin: 5% 0 0 10%;
        
        font-size: 0.6rem;
        text-transform: uppercase;
    }
    .product-price{
        margin: 0 0 5% 10%;
        letter-spacing: 0;
    }
    .price-before{
        display: inline;
        margin: 0 0 0 5px;
    }
    .product-tools{
        justify-self: end;
        margin: 5px 10% 0 0;
    }

    /* */ 
    .collection-desc{
        top:10px;
        left:10px;
        font-size: 0.7rem;
        letter-spacing: 2px;
    }

    /* footer */
    .f-container{
        grid-template-columns: repeat(3, 1fr);
        gap:10px;
        grid-template-areas: 
        'f-links f-instagram f-contact'
        'f-links-2 f-links-2 f-links-2';
    }
    .f-links-menu{
        grid-template-columns: 1fr 2fr;
    }
    .f-links-menu span{
        display: block;
        color: var(--gray);
    }
    .f-links-2{
        margin: 0;
        grid-area: f-links-2;
        justify-self: center;
    }
    .f-links-2-menu > *{
        margin: 20px 50px 0;
        display: inline-block;
        font-size: 0.7rem;
    }
    
}
